<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXCHfPyAOgrfj3qtxvXq3BEG9j3_Q6CZs</string>
	<key>GCM_SENDER_ID</key>
	<string>91651925903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udharcard.user</string>
	<key>PROJECT_ID</key>
	<string>udharcard-app</string>
	<key>STORAGE_BUCKET</key>
	<string>udharcard-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:91651925903:ios:0bead75cde4bab14db8dfa</string>
</dict>
</plist>
